@import url('../node_modules/material-design-lite/material.min.css');

/* browser upgrade hinting */
.browserupgrade {
    margin: 0;
    background: #ccc;
    color: #000;
    padding: 0.5em;
}

/* custom styles */
.login-container {
  width: 330px;
  margin: 1em auto;
}
